[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/operator/bot
ExecStart=/usr/bin/python3 work.py
EnvironmentFile=/home/operator/bot/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
